# Dependencias
node_modules/

# Salidas de compilación
dist/
dist-ssr/

# Variables de entorno
.env
.env.local
.env.*

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs y Editores
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/
