# MongoDB Atlas (Contenido flexible/Ideas)
# Formato: mongodb+srv://<user>:<password>@cluster.mongodb.net/<db_name>
MONGO_URI=mongodb+srv://usuario:password@tu-cluster.mongodb.net/pista8_db?retryWrites=true&w=majority

# Supabase PostgreSQL (Usuarios/Roles/Seguridad)
# Puerto 6543 para Pooling (Uso normal de la App)
DATABASE_URL="postgresql://postgres.ID_PROYECTO:PASSWORD@aws-region.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Puerto 5432 para Conexión Directa (Necesario para Prisma db push/migrate)
DIRECT_URL="postgresql://postgres.ID_PROYECTO:PASSWORD@aws-region.pooler.supabase.com:5432/postgres"

# Configuración de motores Prisma (Optimización para Windows)
PRISMA_CLIENT_ENGINE_TYPE=library
PRISMA_CLI_QUERY_ENGINE_TYPE=library